body{
    width: 50%;
    background-color: blue;
    border: 10px solid;
    margin: 0% 30%;
}
.contenedor{
    position: relative;
    height: 200px;
    width:auto;
    background: rgb(250, 250, 249);
    display:flex;
    align-items: center;
    font-size:xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor img {
    height: 400px;
    width: 400px;
    align-self: center;
}
.info{
    position: relative;
    background: rgb(226, 223, 223);
    height: 700px;
    width: 300px;  
    border: 5px solid;
    position: relative;
}
.info h1{
    text-align: center;
}

.sobre_mi p{
    font-size: x-large;
}
.sobre_mi{
    text-align: center;
    background: yellow;
    position: relative;
    height: 300px;
    width:400px;
    bottom: 700px;
    left: 400px;
}
.contacto{
    position: relative;
    background: violet;
    left: 400px;
    bottom: 700px;
    height: 300px;
    width:400px;
}
