body{
    width: 50%;
    background-color: blue;
    border: 10px solid;
    margin: 0% 30%;
}
#encabezado{
    position: relative;
    height: 200px;
    width:auto;
}
.contenedor{
    background: rgb(250, 250, 249);
    display:flex;
    align-items: center;
    font-size:xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#encabezado img {
    height: 400px;
    width: 400px;
    align-self: center;
}
#izquierda{
    position: relative;
}
.info{
    background: rgb(226, 223, 223);
    height: 700px;
    width: 300px;  
    border: 3px solid;
    position: relative;
}
.info h1{
    text-align: center;
}
#derecha{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#derecha p{
    font-size: x-large;
}
.sobre_mi{
    background: yellow;
    position: absolute;
    height: 300px;
    width:400px;
    margin-left: 400px;
    bottom: 400px;
}
